table {
  border-collapse: collapse;
}

table thead button {
  margin-left: 10px;
}

th {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  background-color: #f7f7f7;
  padding: 14px 24px 13px 24px;
}

.icon {
  margin-left: 5px;
  color: #0063e6;
}
.icon:hover {
  color: #f0f6ff;
}

td {
  color: #666666;
  font-size: 14px;
  padding: 14px 24px 13px 24px;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}
tr:hover {
  background-color: #f0f6ff;
}
